<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Smilies</title>
<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/style.css );</style>
</head>
<body bgcolor="#f7f7f8">

<table>
	<tr>
		<td align="center">
			<font class="gen">${I18n.getMessage("PostForm.smilieHelp")}</font>
		</td>
	</tr>

	<tr>	
		<td>
			<table width="100%">
				<#list smilies as s>
					<#if s_index%8 == 0>
						<tr>
					</#if>
						<td  valign="middle" align="center" width="30px" height="30px">
							<a href="#" onclick="opener.emoticon('${s.code}'); window.focus();">${s.url}</a>
						</td>
					<#if (s_index+1)%8 == 0 || (s_index+1) == smilies.size()>
						</tr>
					</#if>
				</#list>
			</table>
		</td>
	</tr>

	<tr>
		<td valign="bottom" align="center">
			<input type="button" value="${I18n.getMessage("closeWindow")}" onclick="window.close();" class="submit" />
		</td>
	</tr>
</table>

</body>
</html>