<DIV class=postactions>
	<table>
 	 	<tr>
 	 	<!--  评分
	  	 	<td align="left">
			     <#if karmaEnabled>
					<script type="text/javascript">writeStars(${post.karma.karmaPoints}, ${post.id});</script>&nbsp;&nbsp;
				 </#if>
				 <#if karmaEnabled && post.userId != session.userId && logged>
						<#if !karmaVotes.containsKey(post.id)>
							<script type="text/javascript">karmaPointsCombo(${post.id})</script>&nbsp;&nbsp;
						<#else>
							<span class="gensmall">${I18n.getMessage("Karma.yourRate")}: ${karmaVotes.get(post.id)}</span>&nbsp;&nbsp;
						</#if>
				</#if>
	  	 	</td>
  	 	-->
  	 		<td align="right" style="border-top:0px;border-bottom:0px;">
	  	 	<!-- 快速回复 
	  	 		<#if (logged || anonymousPosts) && topic.status != STATUS_LOCKED && !readonly>
					<a href="javascript:activateQuickReply('${post_index}')">${I18n.getMessage("PostForm.quickReply")}</a>
				</#if>
			-->
			     <#if topic.status != STATUS_LOCKED && !readonly>
					<a href="${JForumContext.encodeURL("/posts/quote/${start}/${post.id}")}?index=${start+post_index}" rel="nofollow" class="icon_quote">${I18n.getMessage("PostShow.refer")}</a>&nbsp;&nbsp;  
				</#if>
			     <#if (canEditCurrentMessage)>
					<a href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=edit&amp;post_id=${post.id}&amp;start=${start}","")}" rel="nofollow" class="icon_edit">${I18n.getMessage("PostShow.edit")}</a>&nbsp;&nbsp;  
				</#if>
				<#if canRemove && start+post_index != 0>
					<a href="${JForumContext.encodeURL("/jforum${extension}?module=${moduleName}&amp;action=delete&amp;post_id=${post.id}&amp;start=${start}","")}" id="delete${post.id}" onclick="return confirmDelete(${post.id});">${I18n.getMessage("PostShow.deleteReply")}</a>&nbsp;&nbsp; 
				</#if>
				<a href="javascript:void(0);" onclick="scroll(0,0)" rel="nofollow" class="icon_quote">${I18n.getMessage("PostShow.top")}</a>&nbsp;&nbsp; 
	     	</td>
		</tr>
	</table>
</DIV>