<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/style.css?${startupTime} );</style>
<style type="text/css">
	h1 { font:12px/1.6em Helvetica, Arial, sans-serif; font-weight:bold; }
</style>
<table class="mainbox" cellspacing="1" cellpadding="3" width="100%">
	<tr>
		<th class="thhead" colspan="5" style="padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;"><h1>${I18n.getMessage("SearchStats.Title")}</h1></th>
	</tr>

	<tr>
		<td class="genmed">
			${I18n.getMessage("SearchStats.NoLucene")} 
		</td>
	</tr>
</table>